# Dependency directories
node_modules/

# Build outputs
build/

# TypeScript compiled files
*.tsbuildinfo

# IDE and editor directories
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous files
/temp/
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace

# Yarn integrity file
.yarn-integrity